// Body
$body-bg: #f9f9f9;
$primary: #3490DC;

// Links
$link-color: #667d99;
$link-hover-color: $primary;

// Typography
$font-family-sans-serif: "Open+Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #22292f;
$grid-gutter-width: 15px;

// Border
$border-color: #e8e8e8;
$card-border-color: $border-color;

// Forms
$input-border-color: $border-color;
$input-btn-focus-box-shadow: 0;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

